<div class="container">
  <div [hidden]="submitted">
    <h1>Employee Form</h1>
    <form (ngSubmit)="onSubmit()" #employeeForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required minlength="5" [(ngModel)]="model.name" name="name"
          #employeeName="ngModel" #watchState>
        <div *ngIf="employeeName.invalid && (employeeName.dirty || employeeName.touched)" class="alert alert-danger">
          <div *ngIf="employeeName.errors.required">
            Name is required.
          </div>
          <div *ngIf="employeeName.errors.minlength">
            Name must be at least 5 characters long.
          </div>
          <!-- TODO: watchState this: {{watchState.className}}<br/>
        TODO: remove this: {{model.name}} -->
        </div>
      </div>

      <div class="form-group">
        <label for="alterEgo">Email</label>
        <input type="text" class="form-control" id="Email" required [(ngModel)]="model.email" email
         #email="ngModel"
          name="email">
        <div *ngIf="email.invalid &&  email.touched" class="alert alert-danger">
          <div *ngIf="email.errors.required">
            Email is required.
          </div>
          <div *ngIf="email.errors.email">
            Email is error format.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="alterEgo">Alter Ego</label>
        <input type="text" class="form-control" id="alterEgo" required [(ngModel)]="model.alterEgo" minlength="5"
         #alterEgo="ngModel"
          name="alterEgo">
        <div *ngIf="alterEgo.invalid && (alterEgo.dirty || alterEgo.touched)" class="alert alert-danger">
          <div *ngIf="alterEgo.errors.required">
            alterEgo is required.
          </div>
          <div *ngIf="alterEgo.errors.minlength">
            alterEgo must be at least 5 characters long.
          </div>
        </div>
      </div>


      <div class="form-group">
        <label for="power">Hero Power</label>
        <select required class="form-control" id="power" required [(ngModel)]="model.power" name="power"
          #power="ngModel">
          <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
        </select>

        <div *ngIf="power.invalid && (power.dirty || power.touched)" class="alert alert-danger">
          <div *ngIf="power.errors.required">
            Power is required.
          </div>
        </div>

      </div>
      <button type="submit" class="btn btn-success" [disabled]="!employeeForm.form.valid">Submit</button>
      <button type="button" class="btn btn-default" (click)="newEmployee(); employeeForm.reset()">New Employee</button>
    </form>
  </div>


  <div [hidden]="!submitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Name : </div>
      <div class="col-xs-9">{{ model.name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Email : </div>
      <div class="col-xs-9">{{ model.email }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Alter Ego : </div>
      <div class="col-xs-9">{{ model.alterEgo }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Power : </div>
      <div class="col-xs-9">{{ model.power }}</div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="submitted=false">Edit</button>
  </div>
</div>
